/*///////////////////////// GENERALES /////////////////////////*/

body {
  font-family: 'Titillium Web', sans-serif;
  color: #000000;
  background-color: white;
}

.wrapper {
  overflow: hidden;
}

img {
  width: 100%;
}

.wrapper {
  overflow: hidden;
}

.img-rounded {
  border-radius: 25px;
}

a:hover {
  text-decoration: none;
}

strong {
  font-weight: 700;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.black {
  color: #000000;
}

.primary {
  color: #0065B1;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-wrap {
  white-space: nowrap;
}

.rotate {
  transform: scaleX(-1);
}

/*///////////////////// BOTONES QUE PISAN BS //////////////////*/

.btn {
  border-radius: 35px;
  font-size: 16px;
  font-weight: 400;
  transition: all 150ms ease-out;
  text-decoration: none !important;
  display: flex;
  width: fit-content;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  overflow: visible;
}

.btn-primary {
  border: none;
  color: white;
  background-color: #0065B1;
  border: 1px solid #0065B1;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  background-color: #02528E;
  transition: all ease .25s;
  color: white;
  border: 1px solid #02528E;
}


/* FLOAT BTN */
.wsp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 30px;
  right: 30px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 10px 15px -7px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 0px 10px 15px -7px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 10px 15px -7px rgba(0, 0, 0, 0.52);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

.wsp-float:hover {
  text-decoration: none;
  color: white;
  background-color: #18b853;
}

.divider {
  width: 200px;
  height: 4px;
  background-color: white;
}

/*///////////////////////// HEADER /////////////////////////*/

header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #0065B1;
}

.header-logo {
  max-width: 220px;
}

.navbar {
  z-index: 100;
  width: 100%;
  padding: 0rem 3rem;
  background-color: #0065B1;
}

.navbar-nav {
  align-items: center;
}


.bsnav-sticky.bsnav-sticky-slide {
  position: relative;
}

.nav-link {
  font-size: 20px;
  font-weight: 300;
  color: #fff !important;
  text-transform: uppercase;
  margin-right: 1.2rem !important;
  margin-left: 1.2rem !important;
  position: relative;
  padding: 10px 0px !important;
}

.navbar .nav-item a::after,
.navbar-light .navbar-nav .active>.nav-link::after {
  content: "";
  background-color: #fff;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  position: absolute;
  left: -15px;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  z-index: -5;
  margin-bottom: 5px;
  opacity: 0;
  transition: all .3s;
}

.navbar .nav-item a:hover::after,
.navbar-light .navbar-nav .active>.nav-link::after {
  content: "";
  left: 0;
  opacity: 1;
}

.navbar .nav-item .nav-link.active-nav::after {
  content: "";
  background-color: #fff;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  position: absolute;
  left: 0px;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  z-index: -5;
  margin-bottom: 5px;
  opacity: 1;
  transition: all .3s;
}

.navbar.bsnav-sticky.bsnav-sticky-slide.sticked.in {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 15px -5px,
    rgba(0, 0, 0, 0.25) 0px 4px 10px -8px;
}


.navbar-toggler {
  right: 20px;
}

.bsnav-light .navbar-toggler .navbar-toggler-icon,
.bsnav-light .navbar-toggler .navbar-toggler-icon::after,
.bsnav-light .navbar-toggler .navbar-toggler-icon::before {
  background-color: #fff !important;
}


.dropdown-menu {
  border: 0;
  min-width: auto;
  padding: .25rem 0rem;
}

.dropdown-menu .dropdown-item {
  padding: .25rem 1rem;
  font-weight: 300;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #02528E;
  background-color: #ededed;
}

/* Bs nav para el menú mobile */

.bsnav-mobile .navbar {
  left: 0 !important;
  transform: translate3d(-300px, 0, 0) !important;
}

.bsnav-mobile.in .navbar {
  transform: translate3d(0px, 0, 0) !important;
}

.bsnav-mobile .navbar.bsnav-dark {
  background: #0065B1 !important;
  color: #fff !important;
  padding: 140px 0 15px;
  box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.65);
}

.bsnav-mobile.in .navbar {
  width: 100%;
}

.bsnav-mobile .navbar-nav {
  padding: 0px;
}

/* Submenu */
.nav-item.open-submenu {
  height: 115px;
  display: flex;
  align-items: center;
}

.submenu-bottom {
  background-color: #545454;
  list-style: none;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: 58px;
  position: absolute;
  top: 112px;
  z-index: 0;
  left: 0;
  transform: scaleY(0);
  transition: all .3s;
  opacity: 0;
}

.submenu-bottom li a {
  color: white;
  font-size: 18px;
  font-weight: 300;
  margin-right: 1.2rem !important;
  margin-left: 1.2rem !important;
  padding: 1rem;
}

.submenu-bottom li {
  display: flex;
  align-items: center;
}

.submenu-bottom li a::after {
  content: none !important;
}

.submenu-bottom li a {
  transition: all .3s;
}

.submenu-bottom li a:hover {
  transform: translateY(-3px);
}

.open-submenu:hover .submenu-bottom {
  transform: scaleY(1);
  opacity: 1;
}

/* Submenu mobile */

.submenu {
  background-color: #545454;
  list-style: none;
  padding: 1rem 1rem .4rem 2rem;
  display: none;
}

.submenu li {
  margin-bottom: .6rem;
}

.submenu li a {
  color: white;
  font-size: 18px;
  font-weight: 300;
}

/*//////////////////////// MAIN-HERO ////////////////////////////*/
.main-section {
  height: 100vh;
  position: relative;
}

.main-section .container {
  position: relative;
  z-index: 2;
}

.hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.items-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  list-style: none;
  padding-left: 0;
}

.animated-item {
  display: block;
  width: 18px;
  height: 18px;
  background: #fff;
  border: 7px solid #0065B1;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  animation: bordershow 3s infinite;
}

.animated-item::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgba(0, 101, 177, 0.2);
}

.animated-item::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgba(0, 101, 177, 0.2);
}

.animated-item::before {
  animation: boderM 3s .75s infinite;
}

.animated-item::after {
  animation: boderM 3s infinite;
}

@keyframes boderM {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0
  }

  20% {
    opacity: 1
  }

  75% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0
  }

  100% {
    opacity: 0
  }

}

@keyframes bordershow {

  50% {
    box-shadow: 0px 0px 10px 0 #0065B1;
  }

}

/* Globo de dialogo */
.animated-item-content {
  background: #0064b1ae;
  margin: 0 auto 1.2rem auto;
  width: fit-content;
  padding: 1rem;
  position: absolute;
  bottom: 1.4rem;
  border-radius: 15px;
  color: white;
  transition: all .3s;
  display: none;
}

.animated-item-content:after {
  content: "";
  position: absolute;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  bottom: -10px;
  left: calc(50% - 10px);
  border-width: 10px;
  border-style: solid;
  border-color: transparent #0064b1ae #0064b1ae transparent;
}

.animated-item-content-toptitle {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
  text-transform: uppercase;
}

.animated-item-content-title {
  white-space: nowrap;
}

.animated-item-content-link {
  text-align: center;
  color: white;
  display: block;
  text-transform: uppercase;
}

.animated-item-content-link:hover {
  color: white;
}

/* Ubicación de los items */

.ubication {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ubication-1 {
  top: 38%;
  left: 25%;
}

.ubication-1:hover .animated-item-content-1 {
  display: block;
}

.ubication-2 {
  top: 58%;
  left: 45%;
}

.ubication-2:hover .animated-item-content-2 {
  display: block;
}

/*///////////////////////// CAROUSEL SOLUCIONES //////////////////////////*/
.solutions {
  background-color: #F7F8FA;
}

.owl-carousel .owl-item {
  margin-bottom: 20px;
}

.owl-next,
.owl-prev {
  position: absolute;
  bottom: 50%;
  font-size: 28px;
}

.owl-next i,
.owl-prev i {
  font-size: 26px;
  transition: .3s;
}

.owl-next:hover i,
.owl-prev:hover i {
  color: #0065B1;
}

.owl-prev {
  left: -60px;
}

.owl-next {
  right: -60px;
}

.carousel-block-image {
  height: 220px;
  width: 100%;
  object-fit: cover;
}

.carousel-block-text {
  background-color: white;
  padding: 1rem;
  color: #545454;
  min-height: 230px;
  position: relative;
}

.carousel-block-text .description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 15px;
}

.carousel-block-text .btn {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: 1.2rem;
}

.carousel-block {
  transition: all .3s;
}

.carousel-block:hover {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .10) !important;
}

.carousel-block:hover .carousel-block-text {
  color: #0065B1;
}

/*///////////////////////// TEXT BLOCK //////////////////////////*/
.text-block {
  min-height: 440px;
  background-image: url("../images/text-block-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
}

/*///////////////////////// INTERNA - SOLUCIONES //////////////////////////
////////////////////////////////////////////////////////////////////////*/
.faq {
  background-color: #F7F8FA;
}

.accordion .card {
  border: 0;
  border-radius: 0;
}

.accordion .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0065B1;
  color: #fff;
  border: 0;
  border-top: 1px solid #0065B1;
  border-bottom: 1px solid #0065B1;
  font-size: 18px;
}

.accordion .card-header.collapsed {
  background-color: #fff;
  color: #545454;
  border: 0;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
}

.accordion .card-header.card-header.collapsed::after {
  content: "+";
  color: #0065B1;
  font-size: 28px;
}

.accordion .card-header.card-header::after {
  content: "-";
  font-size: 28px;
}

.accordion .card-header p {
  margin-bottom: 0;
  text-align: left;
  padding-right: 1rem;
}

.accordion .card-body p {
  margin-bottom: 0;
}

.systems {
  margin-top: 115px;
  color: #545454;
}

.light-bg {
  background-color: #F7F8FA;
}

.systems-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 1rem;
}

.systems-content ul {
  padding-left: 0;
  list-style: none;
  font-size: 18px;
  font-weight: 300;
}

.systems-content ul li {
  margin-bottom: .6rem;
}

.systems-content ul li::before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #0065B1;
  margin-right: 5px;
  font-size: 16px;
}

.left-divider {
  background-color: #0065B1;
  width: 65px;
  height: 1px;
}

.systems-deco {
  height: 350px;
  object-fit: contain;
}

.systems-info {
  height: 750px;
}

.systems-foto {
  height: 750px;
  width: 100%;
  object-fit: cover;
}

/*///////////////////////// INTERNA - QUIENES SOMOS //////////////////////////
////////////////////////////////////////////////////////////////////////*/
.section-title {
  margin-top: 115px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.section-title.about {
  background-image: url(../images/quienes-somos-bg.jpg);
}

.gray {
  color: #545454;
}


.slide-container {
  height: 430px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.overlay {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 12%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  height: 200px;
  z-index: 1;
  bottom: 0;
  position: absolute;
}

.slide-container img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  object-fit: cover;
  transition: .5s;
}

.slide-container::after {
  background-color: rgba(0, 0, 0, 0.6);
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all .8s;
  width: 100%;
}

.slide-container .slide-content {
  bottom: 30px;
  box-sizing: border-box;
  color: #fff;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  z-index: 2;
  padding: 0 1rem;
}

.slide-container .slide-content .slide-body {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 1.2s;
}

.slide-container:hover::after {
  opacity: 1;
}

.slide-container:hover .slide-body {
  max-height: 530px;
  opacity: 1;
}

.slide-container-mobile {
  position: absolute;
  z-index: 50;
  color: white;
  padding: 1rem;
  bottom: 1rem;
}

.overlay-mobile {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 12%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  height: 300px;
  z-index: 1;
  bottom: 0;
  position: absolute;
}

.join-deco {
  min-height: 500px;
  object-fit: cover;
}

/*///////////////////////// INTERNA - CONTACTO //////////////////////////
////////////////////////////////////////////////////////////////////////*/
.section-title.contacto {
  background-image: url(../images/contacto-bg.jpg);
}

.contact-block {
  padding: 1.6rem;
  width: 100%;
  max-width: 500px;
  position: absolute;
  right: 50%;
  top: 10%;

}

.contact-icon-deco {
  width: 60px;
  height: 60px;
  border: 1px solid #0065B1;
  border-radius: 50%;
  color: #0065B1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}

.contact-block a,
.contact-block p {
  color: #707070;
  transition: .3s;
}

.contact-block a:hover {
  color: #0065B1;
}

.contact-deco {
  min-height: 650px;
  object-fit: cover;
}

.form-control {
  border-radius: 0px;
  border: 1px solid #5454543c;
  transition: all .3s;
}
.form-control:focus {
  border-color: #0064b177;
  box-shadow: none;
}

/*///////////////////////// FOOTER //////////////////////////*/

footer {
  background-color: #fff;
  color: #545454;
  padding: 40px 0px 0px 0px;
}

footer h6 {
  color: #000000;
  font-size: 21px;
}

footer ul {
  padding-left: 0rem;
  list-style: none;
}

footer ul li {
  margin-bottom: .2rem;
}

footer ul li a {
  color: #545454;
  transition: .3s;
}

footer ul li a:hover {
  color: #000000;
  text-decoration: underline;
}

.footer-logo {
  max-width: 220px;
}

.social-media {
  width: 25px;
  height: 25px;
  border: 1px solid #545454;
  border-radius: 50%;
  color: #545454;
  padding: 18px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

.social-media:hover {
  background-color: #0065B1;
  border-color: #0065B1;
  color: white;
}

.copy-end {
  background-color: #F7F8FA;
  color: #545454;
  font-size: 15px;
}


/*////////////////////// RESPONSIVE //////////////////*/


@media (max-width: 1200px) {}

@media (max-width: 1024px) {
  .owl-nav {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

  .owl-next,
  .owl-prev {
    position: relative
  }

  .owl-prev {
    left: -20px;
  }

  .owl-next {
    right: -20px;
  }

  .carousel-block-text .title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .carousel-block-text {
    min-height: 240px;
  }

  .systems-content {
    padding: 0rem;
  }

  .systems-content ul {
    font-size: 16px;
  }

  .systems-content .h2 {
    font-size: 24px;
  }

  .systems-deco {
    height: 290px;
  }

  .systems-foto {
    height: 700px;
  }

  .systems-info {
    height: 700px;
  }

}

@media (max-width: 768px) {
  .navbar {
    padding: 0.8rem 1rem;
  }

  .navbar .header-logo {
    max-width: 200px;
    padding: .5rem 0rem;
  }

  .submenu-bottom {
    display: none;
  }

  .submenu {
    display: block;
  }

  .navbar-nav {
    align-items: start;
  }

  .nav-item.open-submenu {
    height: auto;
    display: block;
    width: 100%;
  }

  .systems-foto {
    height: 450px;
  }

  .systems-info {
    height: auto;
  }

  .section-title.about {
    background-image: url(../images/quienes-somos-bg.jpg);
    background-position-x: 90%;
  }

  .section-title {
    min-height: 290px;
  }

  .section-title-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000000;
    opacity: .5;
    top: 0;
    left: 0;
  }

  .contact-deco {
    display: none;
}
.contact-block {
  width: 100%;
  position: relative;
  right: 0;
  top: 0;
}
}

@media (max-width: 525px) {

  .mobile-center {
    text-align: center;
    justify-content: center;
  }

  .carousel-block-text {
    min-height: 230px;
  }

  .systems-deco {
    height: auto;
  }

  .systems-content {
    padding: 1rem;
  }

  .copyright {
    flex-wrap: wrap;
  }

  .copyright a {
    margin: 5px auto 0px auto;
  }

}

@media (max-width: 375px) {}

@media (max-width: 320px) {}